- jstree_div = 'jstree_container'
- display = display_contents ? 'none' : 'block'

%div{ :id => 'tree_container_div', :class => 'fullheight', :width => '200px', :style => 'display: ' + display + ';' }
  %input{:type => 'button', :value => '1111', :onclick => 'javascript: $("#contents_div")[0].style.display = "block"; $("#tree_container_div")[0].style.display = "none";'}
  %div{ :id => jstree_div}
    %ul
      = render partial: 'partials/tree_level_li', :locals => {:tree_element => tree}

- display = display_contents ? 'block' : 'none'

%div{ :id => 'contents_div', :class => 'fullheight', :width => '200px', :style => 'display: ' + display + ';' }
  %input{:type => 'button', :value => '1111', :onclick => 'javascript: $("#contents_div")[0].style.display = "none"; $("#tree_container_div")[0].style.display = "block";'}
  this is contents


%script{:type => "text/javascript"}
  $('##{jstree_div}').jstree({
  "core" : {"themes" : {"icons" : false}}
  });

  $("##{jstree_div}").bind("select_node.jstree", function (e, data) {
  return data.instance.toggle_node(data.node);
  });

  $("##{jstree_div}").on("activate_node.jstree", function(e,data){
  window.location.href = data.node.a_attr.href;
  })
