- tree_element.child_elements.each do |child_element|
  %li
    = link_to child_element.display_name, controller: child_element.controller, action: child_element.action, id: child_element.id
    - if not child_element.child_elements.empty?
      %ul
        = render partial: 'partials/tree_level_li', locals: {tree_element: child_element}
    - if not child_element.data_elements.empty?
      %ul
        = render partial: 'partials/tree_data_element', collection: child_element.data_elements, as: :item
= render partial: 'partials/tree_data_element', collection: tree_element.data_elements, as: :item