- tree_element.child_elements.each do |child_element|
  %li
    = child_element.display_name
    - if not child_element.child_elements.empty?
      %ul
        = render partial: 'tree_level_li', locals: {tree_element: child_element}
    - if not child_element.data_elements.empty?
      %ul
        = render partial: 'tree_data_element', collection: child_element.data_elements, as: :item
= render partial: 'tree_data_element', collection: tree_element.data_elements, as: :item