= render partial: 'partials/tree_container', :locals => { :show => true }
= render partial: 'partials/book_contents', :locals => { :show => false }

%div{:id => "main_container_div", :class => "fullheight"}
  this id main container


= render partial: 'partials/book_view_resize_script'