= render partial: 'partials/contents_tree_block', :locals => { :display_contents => false, :tree => @tree }

%div{id: 'main_container_div', class: 'fullheight'}
  %div{id: 'book_header'}
    Е.П.Блаватская. Вы действительно думаете, что знаете меня?..
  %div{id: 'page_header' }
    Страница 120. Еее Е ЕК е ЦУ КцукЦуКЦ ук цУ ЦУ кЦу Цу КЙЦу КцУ КЦкЦУ кЦуацуыавфцА у аЦУ АЦА фц
  %div{id: 'search_block'}
    %form
      %input{id: 'search_lite'}
      %button{type: 'submit'}
        =I18n.t('library.search')
  %div{id: 'page_container'}
    %input{type: 'button', id: 'previous_page', value: '<'}
    %iframe{src: 'http://guides.rubyonrails.org/i18n.html'}
    %input{type: 'button', id: 'next_page', value: '>'}




  = render partial: 'partials/book_view_resize_script'