# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: fc068b2a13bea31fbc1e06b0ab3a3f5b698c43aed829f0491c720f37fdcd5b693e6878bfcae1411a07acbfdf22379a9f646d40757660b7b578a497bc0bb9c82a

test:
  secret_key_base: e2494c5a1bdad54bf3d069b3e08ab5bb3eb5d2f5e23011cb1dc98493203299f1b63493aa2773469c1962bcecf62ec1ace75eb773a5798642654a45d738f9c4e2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  #secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  secret_key_base: eea22a576b50c805c8b6f0c6eb2d1fad9527c1830e6cf736788cf2657151645efe5d1577f77d8c7705377f0ac36f16b2e2892bb630dec472f0e15e9370aa73eb
