#header {
    background: #17317E url(Header_Slava_bg.jpg) top left repeat-x;
    border-bottom: solid 1px #FFFFFF;
    height:164px;
}

#header .right {
    position:absolute;
    right:0;
    top:0;
}

#header p {
    font: 15px Verdana, Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    text-align:left;
    margin-left:13px;
    margin-top:-4px;
}
#header a {
    text-decoration:none;
    color:#FFFFFF;
}

