= render partial: 'partials/tree_block', :locals => { :display_contents => false, :tree => @tree }

%div{:id => "main_container_div", :class => "fullheight"}
  %div{id: 'library_news_feed'}
    = render partial: 'library_news', collection: @library_news, as: :news_item


= render partial: 'partials/book_view_resize_script'