= render partial: 'partials/tree_block', :locals => { :display_contents => false, :tree => @tree }

%div{id: 'main_container_div', class: 'fullheight'}
  %div{id: 'library_feed'}
    = render partial: 'book_synopsis', collection: @books, as: :book


= render partial: 'partials/book_view_resize_script'