%div{class: 'snippet_result'}
  = link_to page.full_path_name, book_page_path(page.book.id, page.url_name, highlight_words: Library::WordsConverter.convert(page.words.page_text))
  = link_to export_book_page_path(page.book.id, page.url_name), class: 'but_24' do
    %span.s0
      %span.s1
        %span.s2
          = I18n.t('library.search_page.export_page')
  %br
  = page.excerpts.page_text.html_safe