%div{class: 'page_result'}
  = link_to page.book_and_page_name, book_page_path(page.book.id, page.url_name, highlight_words: Library::WordsConverter.convert(page.words.page_text))
  = link_to export_book_page_path(page.book.id, page.url_name), class: 'but_24' do
    %span.s0
      %span.s1
        %span.s2
          = I18n.t('library.search_page.export_page')

  %br
  %iframe{src: "#{book_page_external_page_content_path(page.book, page, page.html_content, search_text: params[:search_text])}"}