body.library {
    background: #244372 url(rock085-4.jpg);
}

.library_toggle input {
    padding: 5px;
    border: 0;
    background-color: transparent;
    color: #91C0D2;
    font-size: 14px;
}

.library_toggle input:hover {
    color: #fff000;
    cursor: pointer;
}

.library_toggle {
    text-align: center;
}

#main_container_div {

}

.fullheight {
    height: 500px;
    overflow-y: auto;
}

#tree_container_div, #contents_div, #main_container_div {
    display: block;
    float: left;
    color: #ffffff;
}

#tree_container_div, #contents_div {
    width: 300px;
}

#book_headers {
    width: 100%;
    border: none;
}

#book_headers td {
    color: #ffffff;
    padding: 10px 10px 0px 20px;
}

#search_block,
#page_selector {
    margin: 0px 10px;
    vertical-align: top;
    text-align: right;
}

#book_header {
    font-size: 18px;
    text-decoration: underline;
}

#page_header {
    font-size: 14px;
}

#page_container {
    display: block;
    margin-top: 70px;
    text-align: center;
}

object.pdf_page,
#page_container iframe {
    width: 700px;
    border: 1px solid #254CBF;
}

#previous_page, #next_page {
    width: 30px;
    border: 1px solid #254CBF;
    vertical-align: top;
    background-color: #17317E;
    color: #FFFFFF;
    display: inline-block;
}

#previous_page,
#next_page,
object.pdf_page,
#page_container iframe{
    height: 950px;
}

#previous_page:hover, #next_page:hover {
    cursor: pointer;
    background-color: #27419E;
}

#library_feed {
    padding: 15px 30px 30px 40px;
}

.pro {
    background: url(black_40.png);
    padding: 30px 15px 15px 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-height: 0;
    position: relative;
    margin: 0 0 10px;
}

.pro:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.pro .cover {
    float: left;
    margin-bottom: -9px;
    width: 106px;
}

.pro .cover img {
    vertical-align: top;
    max-width: 100%;
}

.pro .anonce {
    padding: 0 0 0 23px;
    overflow: hidden;
    font-size: 14px;
    text-align: justify;
}

.pro h2, .pro h2 a {
    font-size: 18px;
    font-weight: bold;
    color: #91C0D2;
    margin: 0 0 25px;
    text-decoration: underline;
}

.pro .footer { clear: both; float: right; min-height: 0;}

.pro .footer a, .pro .footer span {
    display: inline-block;
}

.pro .footer a {
    color: #FFF;
    text-decoration: none;
    float: left;
    background: url(pro_bg_blue.png) no-repeat 0 -90px;
    padding: 0 0 0 2px;
}

.pro .footer a.first {
    background: url(pro_bg_blue.png) no-repeat 0 0;
    padding: 0 0 0 15px;
}

.pro .footer a .s1 {

}

.pro .footer a .s2 {
    height: 26px;
    line-height: 26px;
    background: url(pro_bg_blue.png) repeat-x 0 -30px;
    padding: 0 13px;
}

.pro .footer a.first .s2 {
    padding-left: 0;
}

.pro .footer a.last .s1 {
    background: url(pro_bg_blue.png) no-repeat 100% -60px;
    padding: 0 15px 0 0;
}

.pro .footer a.last .s2 {
    padding-right: 0;
}

.pro .footer a:hover {
    color: #fff000;
}

.pro .footer a.first:hover {
    background: url(pro_bg_blue_down.png) no-repeat 0 0;
}

.pro .footer a.last:hover .s1 {
    background: url(pro_bg_blue_down.png) no-repeat 100% -60px;
}

.pro .footer a:hover .s2{
    background: url(pro_bg_blue_down.png) repeat-x 0 -30px;
}

#library_news_feed {

}

.last_book {
    width: 530px;
    margin: 0 auto 12px;
    background: url(black_40.png);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 15px 10px;
    color: #91C0D2;
}

.last_book > p.time {
    display: block;
    margin: 0 0 15px;
    color: #FFF;
}

.last_book > p {
    margin: 0 0 5px;
}



/*-------Contents-------*/

#contents_div {
    font-size: 80%;
    background: #244372 url(rock085-4.jpg);
}

#contents_div li:hover > a,
#contents_div li:hover > span,
#contents_div li:hover > a > span,
#contents_div li.li_background:hover > ul > li > a,
#contents_div li.li_background:hover > ul > li > a > span {
    color: #FFFF00;
}

#contents_div h2 {
    text-align: center;
    font-weight:bold;
    font-size: 155%;
    text-transform:uppercase;
    display:block;
    padding: 10px 0;
    color:#91C0E0;
}

#contents_div h2 a {
    color:#91C0E0;
}

#contents_div h2.part {
    font-size: 140%;
}

#contents_div h2.part i {
    font-size: 100%;
    font-weight:normal;
}

#contents_div .section {
    font-size: 140%;
    font-weight: bold;
    text-align: center;
    display:block;
    padding: 0 0 20px 0;
    margin: 20px 0 0 0;
    color:#91C0E0;
}

#contents_div .section a
{
    color:#91C0E0;
}

#contents_div .section i,
#contents_div h2 i {
    font-style:normal;
    font-weight:normal;
    text-transform:uppercase;
    color: #dd0022;
    letter-spacing: 4px;
    line-height: 2em;
}

#contents_div .section i a,
#contents_div h2 i a
{
    color:#dd0022;
}

#contents_div .section small { /*ïðåäèñëîâèå*/
    letter-spacing: 0.4ex;
    font-weight:normal;
    color: #dd0022;
}

/* Ãëàâà */
#contents_div .chapter i {
    color: #DDDD00;
    font-style:normal;
    font-weight: bold;
}


#contents_div .chapter {
    font-size: 120%;
    text-align: center;
    display:block;
    padding: 20px 0 20px 0;
    margin: 0;
    color: #FFFFFF;
    background: #798BA7 url(rock085-4-light3.jpg) repeat scroll 0 0; /*#A3B2CC;*/
}

#contents_div .chapter a
{
    color: #FFFFFF;
}

/* çàãîëîâîê */

#contents_div li.part {
    font-size:100%;
    padding: 3px 5px;
    margin: 0 0 0 20px;
    list-style-image:url(kvad_ry.gif);
    color:#000099;
    background:#6E92AA none repeat scroll 0 0;
    /*background:#dddddd;/*#5676AD;*/
}

#contents_div li.li_background {
    background:#6E92AA none repeat scroll 0 0;
    margin: 0;
    padding: 0;
    display: block;
}

#contents_div li.part a,
#contents_div li.page a{
    color:#000066;
    font-weight: bold;
}
/* ïîäçàãîëîâîê */

#contents_div li.page {
    font-size:100%;
    margin: 0 0 0 30px;
    list-style-image:url(disk_r.gif);
    color:#000077;
}

#contents_div li.part,
#contents_div li.page {
    cursor:pointer;
    font-size: 100%;
}

/*#contents_div li { margin-left: 24px; margin-right:0; }*/

#contents_div .nobold {
    font-weight:normal;
    text-transform:none;
    font-size: 90%;
}

#contents_div li {
    padding-left:6px;
    padding-right:6px;
    margin-left:0;
    margin-right:0;
}

#centerbar {
    position:relative;
    left:50%;
    width:800px;
    margin-left:-400px;
    margin-top:0px;
}

/*.text i {
 color:#FF0000;
 font-style:normal;
 font-weight:bold;
}*/

#contents_div h1 {
    font-size:140%;
    text-align:center;
    margin: 1em 0;
    color:#FFFFFF;
    background:#7994C3;
}

/*h2 {
 font-size:120%;
 color:#0048C3;
 text-align:center;
}*/

#contents_div .offtop {
    font-size:75%;
}

#contents_div .w {
    color:#ffffff;
}

/*-----------------*/
#tree_container_div {
    background:#6E92AA none repeat scroll 0 0;
    color:#000099;
}

#jstree_container {
    margin-top: 5px;
    max-width: 270px;
}

#jstree_container a {
    white-space: normal !important;
    height: auto;
    padding: 1px 2px;
}

#tree_container_div .library_toggle input {
    width: 100%;
    padding: 5px;
    border-width: 0px 0px 1px 0px;
    border-color: #000099;
    border-style: solid;
    background-color: transparent;
    color: #000099;
    font-size: 14px;
}

#tree_container_div .library_toggle input:hover {
    color: #fff000;
    cursor: pointer;
}

#jstree_container .tree_prefix {
    color: #dd0022;
}