input.library_toggle_button {
    width: 100%;
    padding: 7px;
    border: 1px solid #254CBF;
    background-color: #17317E;
    color: #FFFFFF;
    font-size: 12px;
}

input.library_toggle_button:hover {
    background-color: #27419E;
    cursor: pointer;
}

#main_container_div {

}

.fullheight {
    height: 500px;
    overflow-y: auto;
}

#tree_container_div, #contents_div, #main_container_div {
    display: block;
    float: left;
    color: #ffffff;
}

#tree_container_div, #contents_div {
    width: 200px;
}

#book_headers {
    width: 100%;
    border: none;
}

#book_headers td {
    color: #ffffff;
    padding: 10px 10px 0px 20px;
}

#search_block {
    margin: 0px 10px;
    vertical-align: top;
    text-align: right;
}

#book_header {
    font-size: 18px;
    text-decoration: underline;
}

#page_header {
    font-size: 14px;
}

#page_container {
    display: block;
    margin-top: 70px;
    text-align: center;
}

#page_container iframe {
    height: 800px;
    width: 700px;
    border: 1px solid #254CBF;
}

#previous_page, #next_page {
    height: 800px;
    width: 30px;
    border: 1px solid #254CBF;
    vertical-align: top;
    background-color: #17317E;
    color: #FFFFFF;
    display: inline-block;
}

#previous_page:hover, #next_page:hover {
    cursor: pointer;
    background-color: #27419E;
}

#library_feed {
    padding: 15px 30px 30px 40px;
}

.pro {
    background: url(black_40.png);
    padding: 30px 15px 15px 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-height: 0;
    position: relative;
    margin: 0 0 10px;
}

.pro:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.pro .cover {
    float: left;
    margin-bottom: -9px;
    width: 106px;
}

.pro .cover img {
    vertical-align: top;
    max-width: 100%;
}

.pro .anonce {
    padding: 0 0 0 23px;
    overflow: hidden;
    font-size: 14px;
    text-align: justify;
}

.pro h2, .pro h2 a {
    font-size: 18px;
    font-weight: bold;
    color: #91C0D2;
    margin: 0 0 25px;
    text-decoration: underline;
}

.pro .footer { clear: both; float: right; min-height: 0;}

.pro .footer a, .pro .footer span {
    display: inline-block;
}

.pro .footer a {
    color: #FFF;
    text-decoration: none;
    float: left;
    background: url(pro_bg_blue.png) no-repeat 0 -90px;
    padding: 0 0 0 2px;
}

.pro .footer a.first {
    background: url(pro_bg_blue.png) no-repeat 0 0;
    padding: 0 0 0 15px;
}

.pro .footer a .s1 {

}

.pro .footer a .s2 {
    height: 26px;
    line-height: 26px;
    background: url(pro_bg_blue.png) repeat-x 0 -30px;
    padding: 0 13px;
}

.pro .footer a.first .s2 {
    padding-left: 0;
}

.pro .footer a.last .s1 {
    background: url(pro_bg_blue.png) no-repeat 100% -60px;
    padding: 0 15px 0 0;
}

.pro .footer a.last .s2 {
    padding-right: 0;
}

.pro .footer a:hover {
    color: #fff000;
}

.pro .footer a.first:hover {
    background: url(pro_bg_blue_down.png) no-repeat 0 0;
}

.pro .footer a.last:hover .s1 {
    background: url(pro_bg_blue_down.png) no-repeat 100% -60px;
}

.pro .footer a:hover .s2{
    background: url(pro_bg_blue_down.png) repeat-x 0 -30px;
}

#library_news_feed {

}

.last_book {
    width: 530px;
    margin: 0 auto 12px;
    background: url(black_40.png);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 15px 10px;
    color: #91C0D2;
}

.last_book > p.time {
    display: block;
    margin: 0 0 15px;
    color: #FFF;
}

.last_book > p {
    margin: 0 0 5px;
}