.match{
    background-color: #DDDD00;
    color: #254CBF;
}

.serch_results_container {
    color: #ffffff;
    padding: 10px 30px;
}

.serch_results_container a {
    color: #91C0D2;
}

a.search_type_link {
    display: inline-block;
    border: 1px solid #aaaaaa;
    color: #0a6aa1;
    padding: 3px 5px;
}