.match{
    background-color: #DDDD00;
    color: #254CBF;
}

.search_results_container {
    color: #ffffff;
    padding: 10px 30px;
}

.search_results_container a {
    color: #91C0D2;
}

a.search_type_link {
    display: inline-block;
    border: 1px solid #aaaaaa;
    color: #91C0D2;
    padding: 3px 5px;
}

a.search_type_link:hover, a.search_type_link:focus {
    border-color: #003366;
    background: #0063dc;
    color: white;
}