@import 'mixins';
@import 'colours';
@import 'font-awesome-sprockets', 'font-awesome';
@import 'icons';

@import 'layout';
@import 'site_bar';
@import 'submenu';
@import 'tooltips';
@import 'ui';

.edit_book .field > input[type=text],
.edit_poem .field > input[type=text],
.edit_author .field > input[type=text],
.edit_popup_book .field > input[type=text],
.edit_library_link .field > input[type=text],
.edit_book_category .field > input[type=text],
.edit_multimedia_item .field > input[type=text] {
  width: 99%;
  min-width: 600px;
}