%div{class: 'pro'}
  %div{class: 'cover'}
    %a{href: 'http://eee'}
      %img
  %div{class: 'anonce'}
    %h2
      = link_to(book.name, book_path(book.id))
    %p
      = book.synopsis
  %div{class: 'footer'}
    %a{class: 'first last', href: 'http://eee'}
      %span{class: 's1'}
        %span{class: 's2'}
          =I18n.t('library.download')
    %a{class: 'first last', href: "#{book_path(book.id)}"}
      %span{class: 's1'}
        %span{class: 's2'}
          =I18n.t('library.read')