%div{class: 'pro'}
  %div{class: 'cover'}
    %a{href: 'http://eee'}
      %img
  %div{class: 'anonce'}
    %h2
      = link_to(book.name, book_path(book.id))
    %p
      = book.synopsis
  %div{class: 'footer'}
    - pdf_content = book.pdf_content
    - if pdf_content
      %a{class: 'first last', href: "#{book_external_book_content_path(book.id, pdf_content.id)}"}
        %span{class: 's1'}
          %span{class: 's2'}
            =I18n.t('library.download')
    %a{class: 'first last', href: "#{book_path(book.id)}"}
      %span{class: 's1'}
        %span{class: 's2'}
          =I18n.t('library.read')