%table#mainmenu
  %tr
    %td
      %a.button{:href => "/index.php"} Главная
    %td
      %a.button{:href => "/news.php", :title => "Последнее обновление 20 августа 2012 г."} Новости
    %td
      %a.button{:href => "/library/"} Библиотека
    %td
      %a.button{:href => "#"} Книги
      %ul
        %li
          %a.parent{:href => "/books/7tomnik.php"}
            Посланник Утренней Звезды Христос
            %br>/
            и Его Учение в свете Учения Шамбалы
          %ul
            %li
              %a{:href => "/books/mnenie.php?predisl.ssi"} От автора. Предисловие
            %li
              %a{:href => "/books/mnenie.php?otziv.ssi"} Отзывы читателей первого издания
            %li
              %a{:href => "/books/7tomnik.php"} Читать книги
        %li
          %a{:href => "/books/3tomnik.php"}
            \&quot;Тайная Доктрина&quot; Елены Блаватской
            %br>/
            в некоторых понятиях и символах
        %li
          %a{:href => "/books/dumalka.php"} Думалка
        %li
          %a{:href => "/books/priobr.php"} Где приобрести книги
    %td
      %a.button{:href => "/symbols/symbol.php"} Символы
      %ul
        %li
          %a{:href => "/symbols/symbol.php?intro.ssi"} Только рассудком символ не откроешь
        %li
          %a{:href => "/symbols/symbol.php?znmira.ssi"} Древнейший всемирный символ Триединства Жизни
        %li
          %a{:href => "/symbols/symbol.php?swastika.ssi"} Изначальный Крест – изначальная Свастика
        %li
          %a{:href => "/symbols/symbol.php?swastika.ssi"} Священная Свастика
        %li
          %a{:href => "/symbols/symbol.php?other.ssi#om"} ОМ (АУМ)
        %li
          %a{:href => "/symbols/symbol.php?other.ssi#agni"} В круге санскритское "Агни" – "Огнь"
        %li
          %a{:href => "/symbols/symbol.php?other.ssi#znhrista"} Знаки Христа
        %li
          %a{:href => "/symbols/symbol.php?other.ssi#zvezda"} Пятиконечная Звезда
        %li
          %a{:href => "/symbols/symbol.php?other.ssi#antara"} Знак Вишну (Шри-Антара), Печать Соломона
        %li
          %a{:href => "/symbols/symbol.php?other.ssi#koleso"} Колесо Будды
        %li
          %a{:href => "/symbols/symbol.php?other.ssi#zmei"} “Змей, закусы­вающий свой хвост”
    %td
      %a.button{:href => "#"} Поэзия
      %ul
        %li
          %a{:href => "/stihi/contnk.php"} Философско-поэтические трактовки картин Николая Константиновича Рериха
        %li
          %a{:href => "/stihi/contsn.php"} Философско-поэтические трактовки картин Cвятослава Николаевича Рериха
    / li><a href="#">Махатмы</a></li
    / td><a class="button" href="#">Из Рериховского наследия</a></td
    %td
      %a.button{:href => "/audio/audio.php"} Аудио
      %ul
        %li
          %a{:href => "/audio/audio_nk.php"} Звучит голос Николая Рериха
        %li
          %a{:href => "/audio/audio.php"} Л. П. Дмитриева читает свои фил.-поэтич. эскизы к картинам Рерихов
        %li
          %a{:href => "/audio/audio.php"} Фонограммы докладов Л. П. Дмитриевой на международных симпозиумах
        %li
          %a{:href => "/audio/audio.php"} Выступления Л. П. Дмитриевой на радио
    / td><a class="button" href="#">Вход</a></td
    %td
      %a.button{:href => "/mail.php", :title => "Если у Вас есть желание что-то сказать, пишите. Пожелания, предложения по улучшению удобств для посетителей сайта будут учтены"} Гостевая
