%html
  %head

    %meta{:content => "text/html; charset=windows-1251", "http-equiv" => "Content-Type"}/
    %title Библиотека - Тайная Доктрина Востока в творчестве Ларисы Дмитриевой
    = stylesheet_link_tag 'index.css'
    = stylesheet_link_tag 'mainmenu.css'
    = stylesheet_link_tag 'header.css'
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    =javascript_include_tag 'jquery-2.1.4.js'

    %div{:style => 'position:absolute; top:0; width:16px; right:15px'}

  - stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  - javascript_include_tag 'application', 'data-turbolinks-track' => true
  - csrf_meta_tags

  =yield